# Dependencies
node_modules/
Frontend/node_modules/
server/node_modules/

# Environment variables
.env
Frontend/.env
server/.env

# Build files
dist/
build/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db